html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ddecfe;
    font: 1em/1.6em 'Roboto', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font: 4em/1.6em 'Special Elite', cursive;
    color: #3f5aee;
}

h2 {
    font: 1.5em/1.5em 'Special Elite', cursive;
}

/*
 * styles for the deck of cards
 */
.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #3d58ee 0%, #a2aaf0 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border: 1px solid #b7b5b5;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    transform-style: preserve-3d;
    transition: transform 1s ease-out;
}

.deck .card.open {
    transform: rotatey(180deg);
    background: #02b3e4;
    border: 1px solid white;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
    border: 1px solid white;
}

.deck .card.match {
    transform: rotateY(180deg);
    cursor: default;
    background: #02ccba;
    font-size: 33px;
    border: 2px solid #72f672;
}

/*
 * styles for the score panel
 */
.score-panel {
    width: 680px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
    font-size: 1.3em;
    color: #3f5aee;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.moves-counter {
    margin: 0;
    text-align: center;
    width: 100px;
}

.timer {
    margin: 0;
    text-align: left;
    width: 60px;
}

/*
styles for start screen, all cards matching screen, out of time screen
*/
.start,
.all-matched,
.out-of-time {
    position: absolute;
    top: 223px;
    width: 660px;
    height: 680px;
    border-radius: 10px;
    background: rgba(1, 1, 29, 0.3411764705882353);
}

/*
styles for button
*/
button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font: 1.6em/1.6em 'Special Elite', cursive;
    cursor: pointer;
    z-index: 2000;
    border: 3px dotted white;
    border-radius: 10px;
    background: #03A9F4;
    color: white;
}

button:hover {
    background: #4671a3;
    transition: background 0.5s;
}

/*
styles for info screens
*/
.info {
width: 80%;
    background: rgba(63, 90, 238, 0.8509803921568627);
    padding: 32px;
    text-align: center;
    color: #fff;
    font-size: 1.3em;
    border-radius: 10px;
    border: 3px solid white;
    margin: 80px auto;
}
